/* Resume Styles */
h1 {
    font-size: 32px;
}

h3 {
    font-size: 18px;
}

p {
    font-size: 16px;
}

li {
    font-size: 16px;
}

.mystyles-container {
    display: flex;
    margin: 0;
    margin-top: -50px;
    background-color: white;
}

a {
    font-size: 20px;
}
.mystyles-nav-header {
    display: flex; 
    justify-content: right;
    font-size: 25px;
    background-color: lightgray;
}

.mystyles-nav-header ul {
    list-style-type: none;
}

.mystyles-nav-header li {
    display: inline;
    padding: 20px;
}

.mystyles-container a {
    text-decoration: none;
}

.mystyles-container a:link {
    color: black;
}

.mystyles-container a:visited {
    color: black;
}

.mystyles-container a:hover {
    color: grey;
}

.mystyles-resume-formatting{
    padding-top: 30px;
}

.mystyles-left-nav {
    padding-top: 25px;
    font-size: 20px;
    text-align: center;
    color: white;
    width: 300px;
    background-color: grey;
}

.mystyles-left-nav a {
    color: white;
}

.mystyles-left-nav a:hover {
    color: black;
}

.mystlyes-item {
    position: sticky;
}

.mystyles-resume-section {
    margin-left: 25px;
    margin-right: 25px;
}

.mystyles-text-spacer {
    display: flex;
    justify-content: space-between;
}

.mystyles-text-spacer p {
    margin: 0;
}

.mystyles-text-spacer h3 {
    margin-bottom: 5px;
    margin-top: 5px;
}

.caleb-img {
    margin-top: 30px;  
    padding-right: 15px; 
}

/* About Me Styles*/

.contact-info {
    margin-top: 30px;
}
.contact-info p{
    margin: 0;
    margin-right: 60px;
}


/* Index Styles */
.flex-images-to-words{
    display: flex;
}
.post-meta{
    margin: 0;
}
.mystyles-side-image {
    padding-right: 30px;
}

body {
    background-color: #969696   ;
}

footer {
    background-color: white;
}

div.relative {
    position: relative;

}

